.App {
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-align: center;
  margin-top: 5px;
}

.center-comp{
  position:relative; 
  justify-content: center; 
  border-color:#6c6c6d ;
  border-style: solid;
  padding-bottom: 5px;
}

.display-comp {
  margin: 1px;
  margin-bottom: 5px;
  justify-self: center;
  justify-content: right;
  text-align: right;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 350px;
  font-size: 2em;
  background-color: #6c6c6d;
  color: white;
  
}

.component-button {
  width: 24%;
  background-color: #e0e0e0;
  font-size: 2em;
 
}

.component-operation {
  background-color: #f5923e;
  color: white;
  width: 24%;
  font-size: 2em;
 
}

